<header>
<h1>your turn</h1>
</header>
<h6 class="helvetica"><b>Context:</b></h6> 

<%= form_for(@sentence, url: "/lines/#{@sentence.story.id}/sentences" ) do |f|%>

  <%= f.text_field :text, :placeholder => "enter your sentence and press enter", :class => "text_box" %>
  <%= f.submit "submit", :id => "go_button" %>

<% end %>

<h6 class="note helvetica">note: start your sentence with a * if you want to make it a new paragraph</h6>
