<h1>your turn</h1>

<h3 id="subtitle">note: start your sentence with a * if you want to make it a new paragraph</h3>

<%= form_for(@sentence, url: "/lines/#{@sentence.story.id}/sentences" ) do |f|%>

  your sentence:
  <%= f.text_field :text %>
  <%= f.submit "submit" %>

<% end %>
