<header>
<h2>About</h2>
</header>

<p>People can do amazing things when they work together. The incredible power of collective intelligence has been demonstrated in many experiments starting as early as 1920.</p>
<p>A classic demonstration of group intelligence is the jelly-beans-in-the-jar experiment, in which invariably the group's estimate is superior to the vast majority of the individual guesses. When finance professor Jack Treynor ran the experiment in his class with a jar that held 850 beans, the group estimate was 871. Only one of the fifty-six people in the class made a better guess.</p>
<p>This project is my experiment to see if the power of collective intelligence can be harnessed to write fiction. I ask you to join in now! Read the story and submit good ideas for the next sentence.  Vote for sentences you like. Let's write something beautiful - together.</p>
