<header>
  <h1>The Story</h1>
</header>
<h3 id="subtitle">by: everyone</h3>

  <p><%= @story.join(". ") << "." %> </p>
  <p> Quod mazim placerat facer possim assum. Typi non habent
  claritatem insitam; est usus legentis in iis qui facit eorum
  claritatem. Investigationes demonstraverunt lectores legere me lius
  quod ii legunt saepius. Claritas est etiam processus dynamicus, qui
  sequitur mutationem consuetudium lectorum. Mirum est notare quam
  littera gothica, quam nunc putamus parum claram, anteposuerit
  litterarum formas humanitatis per seacula quarta decima et quinta
  decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant
  sollemnes in futurum.
  </p>
  <p> Quod mazim placerat facer possim assum. Typi non habent
  claritatem insitam; est usus legentis in iis qui facit eorum
  claritatem. Investigationes demonstraverunt lectores legere me lius
  quod ii legunt saepius. Claritas est etiam processus dynamicus, qui
  sequitur mutationem consuetudium lectorum. Mirum est notare quam
  littera gothica, quam nunc putamus parum claram, anteposuerit
  litterarum formas humanitatis per seacula quarta decima et quinta
  decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant
  sollemnes in futurum.
  </p>

<%= link_to "next sentence", "/next" %>
