<header>
  <h1>The Story</h1>
</header>
<h3 id="subtitle">by: 
  <span id="author_list">
    <%= @story.map{|line| line.user.email }.uniq.join(", ") %>
  </span>
</h3>

<p><%= @story.map{|line| line.text}.join.gsub("*", "</p><p>").html_safe %></p>

<%= link_to "next sentence", "/next" %>
