.container {
  width:  720px;
  margin: 0 auto;
}

nav {
  position: relative;
  border-bottom: 3px solid #222222;
  border-radius: 3px;
  padding: 0 4px 0 4px;
}
nav a {
  position: inline;
  width: 50px;
  margin: 0 auto 7px auto;
}

h1, h2 {
  font-family: 'helvetica';
}

.helvetica {
  font-family: 'helvetica';
}

.text_box {
  width: 600px;
}

#go_button {
  display:none;
}

a  {
  font-family: 'helvetica';
  border:none;
  color: #222222;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  padding: 3px 8px 2px 8px;
  text-align: center;
}

#add_one {
  color:#ee3b05;
}

#twitter {
  margin-left: 38px;
  padding-top: 10px;
}

.right {
  float:right;
}

.login form {
  display:inline-block;
  position: relative;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.username {
  display: inline;
  position: relative;
  border-right: 3px dotted black;
}

#log {
}

#flash_notice {
  color: red;
  font-weight: bold;
  /*background-color: rgb(255, 0, 0);*/
  /*border: 2px solid rgb(34, 34, 34);*/
  /*border-radius: 3px 5px 5px 5px;*/
  display: inline-block;
  /*padding: 0 5px;*/
  /*text-align: center;*/
  position: absolute;
  margin-left: 153px;
}

header {
  margin: 25px 0 0 0;
}

.subtitle {
  margin-top: -17px;
  font-size: 0.8em;
  margin-left: 10px;
}

.no_lines {
  width: 80%;
  border: 3px solid #222222;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.possible_line {
  min-height: 90px;
  width: 80%;
  border: 3px solid #222222;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.vote_control {
  float:left;
  height: 100px; 
  width: 40px; 
  display:inline-block;
  padding-right: 20px;
}

.note {
  margin-top: 7px;
}

.vote_control .vote_up, .vote_down {
  height:37px;
}
input[type=submit] {
  cursor: pointer;
}
{
  height:37px;
}
.vote_count {
  height:20px;
  font-weight: bold;
  text-align: center;
  position:relative;
  bottom: 10px;
}
.content {
  display: block;
}

.vote_up form {
  background-image: url("http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/48/Hands-Thumbs-up-icon.png") ;
  background-repeat:no-repeat;
  background-position: 5px 0px;
  background-size: 25px 25px;
  border: none;
}

.possible_line input[type=submit] {
  border: none;
  background: none;
  height: 40px;
  width: 100%;
}

.vote_down form {
  background-image: url("http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/48/Hands-Thumbs-down-icon.png") ;
  background-repeat:no-repeat;
  background-position: 5px 0px;
  background-size: 25px 25px;
  border: none;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
